restaurants.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="restaurants">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="restaurant">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="contact">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="phone" type="xs:unsignedLong" />
										<xs:element name="email" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="website" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="delivery" type="xs:boolean" use="required" />
						<xs:attribute name="type" type="xs:string" use="required" />
						<xs:attribute name="use" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>